<% include partials/header %>


<div class="container">

    <div class="content-title">
        <h1>REGISTRATION RESULT</h1>
    </div>

	<div class="results">
		<h3>Sorry. One or more of the following errors have occurred:</h3>
        <h4>Please provide data for the following fields.</h4>
		<div class="errors">
			<br>
			<ul>
				<li><h2>SYSTEM OWNER<h2></li>
				<li><h2>SYSTEM NAME<h2></li>
				<li><h2>SYSTEM USERNAME<h2></li>
				<li><h2>SYSTEM PASSWORD<h2></li>
			</ul>	
			<br>
		</div>
		<h3>Please try again. Thank you.</h3>
    </div>
    
	<div class="back-home">
		<a href="/add_info">
			<button type="submit" class="btn btn-primary btn-lg">BACK TO INFO REGISTRATION</button>
		</a>
	</div>    

	<div class="back-home">
		<a href="/">
			<button type="submit" class="btn btn-primary btn-lg">BACK TO HOME</button>
		</a>
	</div>
</div>




<% include partials/footer %>