<% include partials/header %>


<div class="container">

    <div class="content-title">
        <h1>SEARCH RESULTS - ERROR</h1>
    </div>

	<div class="results">
		<h3>Sorry. One or more of the following errors have occurred:</h3>

		<div class="errors">
			<br>
			<ul>
				<li><h2><%= sysError %><h2></li>
			</ul>	
			<br>
		</div>
		<h3>Please try again.</h3>
	</div>

	<div class="back-home">
		<a href="/">
			<button type="submit" class="btn btn-primary btn-lg" form="retrieve-all">BACK TO HOME</button>
		</a>
	</div>
</div>


<% include partials/footer %>